@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root {
    --cor-01: #3B3936;
    --cor-02: #B2BEBF;
    --cor-03: #889C9B;
    --cor-04: #486966;
    --cor-05: #BD2A2E;
    --cor-06: #000000;

    --fonte1:Verdana, Geneva, Tahoma, sans-serif ; 
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Courgette', cursive;

    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;

    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;

    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;

}

html, body {
    min-height: 100vh;
    background-color: rgb(1, 0, 0);
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
} 

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: var(--cor-05);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section > pre {
    white-space: pre-line;
    font-family: var(--fonte3);
}

section.imagem > pre {
    white-space: pre-line;
    display: inline-block;
    background-color: #00000094;
}

section.imagem {
    background-color: #414141;
    color: #fff;
}

section.normal {
    background-color: white;
    color: #000000;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px;
}